/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}
/* Estilo do botão que o JS criou */
.menu-mobile-btn {
    display: none; /* Escondido no PC */
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* Efeito de suavidade para imagens carregando */
.fade-in {
    animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsividade do Menu */
@media (max-width: 768px) {
    .menu-mobile-btn {
        display: block; /* Aparece no celular */
    }

    .main-nav {
        display: none; /* Esconde a lista padrão */
        width: 100%;
    }

    .main-nav.active {
        display: block; /* Mostra quando o JS adiciona a classe 'active' */
    }

    .main-nav ul {
        flex-direction: column;
        background: #b1150b;
        padding: 10px 0;
    }
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.main-header {
    background-color: #C4170C; /* Vermelho padrão G1 ou use o Azul do seu logo */
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
}

/* Grid de Notícias */
.hero-news {
    margin: 20px 0;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

/* Cards */
.news-card {
    background: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
}

.category {
    color: #C4170C;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.news-card h1, .news-card h3 {
    margin: 10px 0;
    line-height: 1.2;
}

.news-card h1 { font-size: 28px; }
.news-card h3 { font-size: 18px; }

/* Rodapé */
.main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
}


/* Responsividade Extra */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }
    
    .main-nav {
        margin-top: 15px;
    }
}
